.placeCard { /* stylelint-disable */
}

.distanceWrapper {
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  right: 3em;
}

.cardAvatar {
  align-self: center;
}

.cardHeader {
  display: flex;
}

.verticalSpacer {
  border-left:1px solid #16222c;
  border-right:1px solid rgb(0, 188, 212);
  height: 36px;
  display: block;
  top:10px;
}

.cardActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardRatingImg {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  right: 10em;
}

