.placeCardWrapper { /* stylelint-disable */
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 425px) {
  .placeCardWrapper {
    width: 70%;
    height: 50%;
  }

  .cardHeader {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .cardAvatar {
    width: 60px !important;
    height: 60px !important;
  }

  .ratingsWrapper {
    flex-direction: row !important;
  }
}

.ratingTextWrapper {
  box-sizing: border-box;
}

.cardAvatar {
  align-self: center;
}

.cardHeader {
  display: flex;
  justify-content: space-around;
}

.reviewText {
  margin: 0;
  padding: 10px;
}

.ratingsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.verticalSpacer {
  border-left:1px solid #16222c;
  border-right:1px solid rgb(0, 188, 212);
  height: 36px;
  display: block;
  top:10px;
}

.cardActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardRatingImg {
  box-sizing: border-box;
  padding: 10px;
  right: 10em;
}

