.list { /* stylelint-disable */
  width: 70%;
  height: 85%;
  background-color: transparent;
  overflow-y: scroll;
  margin-top: 96px !important;
  padding: 0 !important;
}

@media (max-width: 767px) {
  .list {
    width: 90%;
    height: 77%;
  }
}

.listWrapper {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

.listItem {
  background-color: whitesmoke !important;
}
