.list { /* stylelint-disable */
  width: 70%;
  height: 95%;
  background-color: transparent;
  overflow-y: scroll;
  padding: 0 !important;
}

.list::-webkit-scrollbar {
  width: 12px;
}

.list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px orange;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
}

@media (max-width: 767px) {
  .list {
    width: 90%;
    height: 95%;
  }
}

.listWrapper {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

.listItem {
  background-color: whitesmoke !important;
}
