
.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: -64px;
  margin-bottom: -56px;
}

.ramen_wrapper {
  margin: auto;
  display: flex;
  position: relative;
  width: 40em;
  height: 20em;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-device-width: 425px) {
  .ramen_wrapper {
    padding: 0;
    width: 100vw;
  }

  .ramen_paper {
    width: 90%
  }

}

.ramen_message {
  color: #F57F17;
}

.ramen_paper {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75) !important;
}

.place_card_wrapper {
  margin: auto;
}

.autoCompleteWrapper {
  margin: auto;
  width: 50%;
  height: auto;
}

.autoComplete {
  width: 50%;
}