
.wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.ramenWrapper {
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}


@media (max-width: 425px) {
  .ramenWrapper {
    padding: 0;
    width: 100vw;
  }

  .ramen_paper {
    width: 90%
  }

  .autoCompleteWrapper {
    width: 90%;
  }
}

@media (min-width: 425px) {
  .autoCompleteWrapper {
    width: 60%;
    max-width: 900px;
  }
}

.ramen_message {
  color: whitesmoke;
}

.place_card_wrapper {
  margin: auto;
  display: flex;
}

.autoCompleteWrapper {
  margin: auto;
  padding: 0 15px;
  height: auto;
}

.leftDecrement {
  width: 50px;
  height: auto;
  background-color: #FF5722;
  margin-right: 12px;
  display: flex;
  align-items: center;
}

@media only screen and (max-device-width: 426px) {
  .leftDecrement {
    display: none;
  }
  .rightIncrement {
    display: none;
  }
}

.rightIncrement {
  width: 50px;
  height: auto;
  background-color: #FF5722;
  margin-left: 12px;
  display: flex;
  align-items: center;
}